# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 47,
  planes => [
    {
      action => 2,
      numEntries => 15,
      entries => [
        1, -50,
        2, -50,
        3, -50,
        4, -50,
        5, -50,
        6, -50,
        7, -50,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0
      ]
    },
    {
      action => 1,
      numEntries => 15,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        9, -50,
        10, -50,
        11, -50,
        12, -50,
        13, -50,
        14, -50,
        15, -50
      ]
    },
    {
      action => 0,
      numEntries => 13,
      entries => [
        1, -1,
        2, -8.49925,
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        10, -8.49925,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 1,
      numEntries => 12,
      entries => [
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        11, -50,
        12, -50,
        13, -50,
        14, -50,
        15, -50
      ]
    },
    {
      action => 1,
      numEntries => 10,
      entries => [
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        12, -50,
        13, -50,
        14, -50,
        15, -50
      ]
    },
    {
      action => 2,
      numEntries => 9,
      entries => [
        4, -50,
        5, -50,
        6, -50,
        7, -50,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0
      ]
    },
    {
      action => 0,
      numEntries => 11,
      entries => [
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        10, -1,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 0,
      numEntries => 13,
      entries => [
        2, -8.49925,
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        9, -1,
        10, -8.49925,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 1,
      numEntries => 17,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, -50,
        9, -50,
        10, -50,
        11, -50,
        12, -50,
        13, -50,
        14, -50,
        15, -50,
        16, 0
      ]
    },
    {
      action => 2,
      numEntries => 17,
      entries => [
        0, -50,
        1, -50,
        2, -50,
        3, -50,
        4, -50,
        5, -50,
        6, -50,
        7, -50,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0
      ]
    },
    {
      action => 0,
      numEntries => 9,
      entries => [
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 0,
      numEntries => 10,
      entries => [
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 0,
      numEntries => 11,
      entries => [
        2, -8.49925,
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 2,
      numEntries => 12,
      entries => [
        3, -50,
        4, -50,
        5, -50,
        6, -50,
        7, -50,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0
      ]
    },
    {
      action => 2,
      numEntries => 13,
      entries => [
        2, -50,
        3, -50,
        4, -50,
        5, -50,
        6, -50,
        7, -50,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.19924,
        2, -12.064,
        3, -17.6419,
        4, -23.8479,
        5, -30.377,
        6, -36.695,
        7, -40.4789,
        9, -1.19862,
        10, -1.62907,
        11, -2.56571,
        12, -4.36404,
        13, -7.3773,
        14, -11.7977,
        15, -15.4814
      ]
    },
    {
      action => 0,
      numEntries => 15,
      entries => [
        1, -7.19924,
        2, -12.0638,
        3, -17.6402,
        4, -23.8434,
        5, -30.3724,
        6, -36.696,
        7, -40.4847,
        8, -1,
        9, -1.19862,
        10, -1.62903,
        11, -2.56523,
        12, -4.36212,
        13, -7.37458,
        14, -11.7985,
        15, -15.4872
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -9.14259,
        2, -15.7229,
        3, -21.7408,
        4, -27.1963,
        5, -32.0895,
        6, -36.4202,
        7, -38.995,
        9, -1.35619,
        10, -2.27476,
        11, -3.75572,
        12, -5.79907,
        13, -8.40481,
        14, -11.5729,
        15, -13.9975
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.46883,
        2, -12.9966,
        3, -19.0694,
        4, -25.2495,
        5, -31.175,
        6, -36.56,
        7, -39.7429,
        9, -1.22048,
        10, -1.79365,
        11, -2.98016,
        12, -4.96471,
        13, -7.85612,
        14, -11.6873,
        15, -14.7454
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.20165,
        2, -1.671,
        3, -2.70974,
        4, -4.61435,
        5, -7.59898,
        6, -11.7439,
        7, -15.1193,
        9, -7.23664,
        10, -12.3016,
        11, -18.138,
        12, -24.432,
        13, -30.7464,
        14, -36.6292,
        15, -40.1168
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.20443,
        2, -12.1244,
        3, -17.8132,
        4, -24.0887,
        5, -30.5456,
        6, -36.6634,
        7, -40.3037,
        9, -1.19904,
        10, -1.63972,
        11, -2.61544,
        12, -4.46723,
        13, -7.47847,
        14, -11.7719,
        15, -15.3062
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.19868,
        2, -1.63175,
        3, -2.58257,
        4, -4.40545,
        5, -7.42199,
        6, -11.7858,
        7, -15.3997,
        9, -7.19996,
        10, -12.0792,
        11, -17.6999,
        12, -23.9445,
        13, -30.4514,
        14, -36.6804,
        15, -40.3972
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.19934,
        2, -12.0677,
        3, -17.6605,
        4, -23.884,
        5, -30.4073,
        6, -36.6888,
        7, -40.4439,
        9, -1.19863,
        10, -1.62972,
        11, -2.5711,
        12, -4.37951,
        13, -7.39552,
        14, -11.7926,
        15, -15.4464
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.19862,
        2, -1.6292,
        3, -2.56711,
        4, -4.36861,
        5, -7.38312,
        6, -11.796,
        7, -15.4697,
        9, -7.19926,
        10, -12.0647,
        11, -17.6467,
        12, -23.8586,
        13, -30.3867,
        14, -36.6929,
        15, -40.4672
      ]
    },
    {
      action => 2,
      numEntries => 6,
      entries => [
        5, -50,
        6, -50,
        7, -50,
        13, 0,
        14, 0,
        15, 0
      ]
    },
    {
      action => 1,
      numEntries => 8,
      entries => [
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        13, -50,
        14, -50,
        15, -50
      ]
    },
    {
      action => 0,
      numEntries => 12,
      entries => [
        2, -8.49925,
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        10, -8.49925,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 1,
      numEntries => 13,
      entries => [
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        10, -50,
        11, -50,
        12, -50,
        13, -50,
        14, -50,
        15, -50
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -4.74962,
        2, -8.49925,
        3, -12.2489,
        4, -15.9985,
        5, -19.7481,
        6, -23.4977,
        7, -25.9975,
        9, -4.74962,
        10, -8.49925,
        11, -12.2489,
        12, -15.9985,
        13, -19.7481,
        14, -23.4977,
        15, -25.9975
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.35619,
        2, -2.27476,
        3, -3.75572,
        4, -5.79907,
        5, -8.40481,
        6, -11.5729,
        7, -13.9975,
        9, -9.14259,
        10, -15.7229,
        11, -21.7408,
        12, -27.1963,
        13, -32.0895,
        14, -36.4202,
        15, -38.995
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.93997,
        2, -5.29155,
        3, -8.80158,
        4, -13.217,
        5, -18.2848,
        6, -23.7519,
        7, -27.4936,
        9, -2.93997,
        10, -5.29155,
        11, -8.80158,
        12, -13.217,
        13, -18.2848,
        14, -23.7519,
        15, -27.4936
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.22048,
        2, -1.79365,
        3, -2.98016,
        4, -4.96471,
        5, -7.85612,
        6, -11.6873,
        7, -14.7454,
        9, -7.46883,
        10, -12.9966,
        11, -19.0694,
        12, -25.2495,
        13, -31.175,
        14, -36.56,
        15, -39.7429
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.68893,
        2, -4.47375,
        3, -7.59958,
        4, -12.049,
        5, -17.599,
        6, -23.8777,
        7, -28.2414,
        9, -2.68893,
        10, -4.47375,
        11, -7.59958,
        12, -12.049,
        13, -17.599,
        14, -23.8777,
        15, -28.2414
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.23664,
        2, -12.3016,
        3, -18.138,
        4, -24.432,
        5, -30.7464,
        6, -36.6292,
        7, -40.1168,
        9, -1.20165,
        10, -1.671,
        11, -2.70974,
        12, -4.61435,
        13, -7.59898,
        14, -11.7439,
        15, -15.1193
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.65411,
        2, -4.26525,
        3, -7.18047,
        4, -11.5586,
        5, -17.2776,
        6, -23.94,
        7, -28.6153,
        9, -2.65411,
        10, -4.26525,
        11, -7.18047,
        12, -11.5586,
        13, -17.2776,
        14, -23.94,
        15, -28.6153
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.19904,
        2, -1.63972,
        3, -2.61544,
        4, -4.46723,
        5, -7.47847,
        6, -11.7719,
        7, -15.3062,
        9, -7.20443,
        10, -12.1244,
        11, -17.8132,
        12, -24.0887,
        13, -30.5456,
        14, -36.6634,
        15, -40.3037
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.64928,
        2, -4.2121,
        3, -7.03433,
        4, -11.3526,
        5, -17.127,
        6, -23.9708,
        7, -28.8022,
        9, -2.64928,
        10, -4.2121,
        11, -7.03433,
        12, -11.3526,
        13, -17.127,
        14, -23.9708,
        15, -28.8022
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.19996,
        2, -12.0792,
        3, -17.6999,
        4, -23.9445,
        5, -30.4514,
        6, -36.6804,
        7, -40.3972,
        9, -1.19868,
        10, -1.63175,
        11, -2.58257,
        12, -4.40545,
        13, -7.42199,
        14, -11.7858,
        15, -15.3997
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.64861,
        2, -4.19854,
        3, -6.98338,
        4, -11.2662,
        5, -17.0564,
        6, -23.986,
        7, -28.8956,
        9, -2.64861,
        10, -4.19854,
        11, -6.98338,
        12, -11.2662,
        13, -17.0564,
        14, -23.986,
        15, -28.8956
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.19863,
        2, -1.62972,
        3, -2.5711,
        4, -4.37951,
        5, -7.39552,
        6, -11.7926,
        7, -15.4464,
        9, -7.19934,
        10, -12.0677,
        11, -17.6605,
        12, -23.884,
        13, -30.4073,
        14, -36.6888,
        15, -40.4439
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.64851,
        2, -4.19509,
        3, -6.96561,
        4, -11.2298,
        5, -17.0233,
        6, -23.9936,
        7, -28.9423,
        9, -2.64851,
        10, -4.19509,
        11, -6.96561,
        12, -11.2298,
        13, -17.0233,
        14, -23.9936,
        15, -28.9423
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -7.19926,
        2, -12.0647,
        3, -17.6467,
        4, -23.8586,
        5, -30.3867,
        6, -36.6929,
        7, -40.4672,
        9, -1.19862,
        10, -1.6292,
        11, -2.56711,
        12, -4.36861,
        13, -7.38312,
        14, -11.796,
        15, -15.4697
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.6485,
        2, -4.19421,
        3, -6.95941,
        4, -11.2146,
        5, -17.0078,
        6, -23.9973,
        7, -28.9657,
        9, -2.6485,
        10, -4.19421,
        11, -6.95941,
        12, -11.2146,
        13, -17.0078,
        14, -23.9973,
        15, -28.9657
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -1.19862,
        2, -1.62907,
        3, -2.56571,
        4, -4.36404,
        5, -7.3773,
        6, -11.7977,
        7, -15.4814,
        9, -7.19924,
        10, -12.064,
        11, -17.6419,
        12, -23.8479,
        13, -30.377,
        14, -36.695,
        15, -40.4789
      ]
    },
    {
      action => 0,
      numEntries => 14,
      entries => [
        1, -2.6485,
        2, -4.19398,
        3, -6.95725,
        4, -11.2082,
        5, -17.0006,
        6, -23.9992,
        7, -28.9773,
        9, -2.6485,
        10, -4.19398,
        11, -6.95725,
        12, -11.2082,
        13, -17.0006,
        14, -23.9992,
        15, -28.9773
      ]
    },
    {
      action => 0,
      numEntries => 15,
      entries => [
        0, -1,
        1, -1.19862,
        2, -1.62903,
        3, -2.56523,
        4, -4.36212,
        5, -7.37458,
        6, -11.7985,
        7, -15.4872,
        9, -7.19924,
        10, -12.0638,
        11, -17.6402,
        12, -23.8434,
        13, -30.3724,
        14, -36.696,
        15, -40.4847
      ]
    },
    {
      action => 0,
      numEntries => 17,
      entries => [
        0, -1.9999,
        1, -2.6485,
        2, -4.19393,
        3, -6.9565,
        4, -11.2055,
        5, -16.9972,
        6, -24.0001,
        7, -28.9832,
        8, -1.9999,
        9, -2.6485,
        10, -4.19393,
        11, -6.9565,
        12, -11.2055,
        13, -16.9972,
        14, -24.0001,
        15, -28.9832,
        16, 0
      ]
    }
  ]
}
