# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 8,
  planes => [
    {
      action => 1,
      numEntries => 43,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, -20,
        22, -20,
        23, -20,
        24, -20,
        25, -20,
        26, -20,
        27, -20,
        28, -20,
        29, -20,
        30, -20,
        31, -20,
        32, -20,
        33, -20,
        34, -20,
        35, -20,
        36, -20,
        37, -20,
        38, -20,
        39, -20,
        40, -20,
        41, -20,
        42, 0
      ]
    },
    {
      action => 2,
      numEntries => 43,
      entries => [
        0, -20,
        1, -20,
        2, -20,
        3, -20,
        4, -20,
        5, -20,
        6, -20,
        7, -20,
        8, -20,
        9, -20,
        10, -20,
        11, -20,
        12, -20,
        13, -20,
        14, -20,
        15, -20,
        16, -20,
        17, -20,
        18, -20,
        19, -20,
        20, -20,
        21, 0,
        22, 0,
        23, 0,
        24, 0,
        25, 0,
        26, 0,
        27, 0,
        28, 0,
        29, 0,
        30, 0,
        31, 0,
        32, 0,
        33, 0,
        34, 0,
        35, 0,
        36, 0,
        37, 0,
        38, 0,
        39, 0,
        40, 0,
        41, 0,
        42, 0
      ]
    },
    {
      action => 1,
      numEntries => 39,
      entries => [
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        23, -20,
        24, -20,
        25, -20,
        26, -20,
        27, -20,
        28, -20,
        29, -20,
        30, -20,
        31, -20,
        32, -20,
        33, -20,
        34, -20,
        35, -20,
        36, -20,
        37, -20,
        38, -20,
        39, -20,
        40, -20,
        41, -20
      ]
    },
    {
      action => 2,
      numEntries => 39,
      entries => [
        2, -20,
        3, -20,
        4, -20,
        5, -20,
        6, -20,
        7, -20,
        8, -20,
        9, -20,
        10, -20,
        11, -20,
        12, -20,
        13, -20,
        14, -20,
        15, -20,
        16, -20,
        17, -20,
        18, -20,
        19, -20,
        20, -20,
        22, 0,
        23, 0,
        24, 0,
        25, 0,
        26, 0,
        27, 0,
        28, 0,
        29, 0,
        30, 0,
        31, 0,
        32, 0,
        33, 0,
        34, 0,
        35, 0,
        36, 0,
        37, 0,
        38, 0,
        39, 0,
        40, 0,
        41, 0
      ]
    },
    {
      action => 0,
      numEntries => 40,
      entries => [
        1, -1.49995,
        2, -1.9999,
        3, -2.49985,
        4, -2.9998,
        5, -3.49975,
        6, -3.9997,
        7, -4.49965,
        8, -4.9996,
        9, -5.49955,
        10, -5.9995,
        11, -6.49945,
        12, -6.9994,
        13, -7.49935,
        14, -7.9993,
        15, -8.49925,
        16, -8.9992,
        17, -9.49915,
        18, -9.9991,
        19, -10.4991,
        20, -10.999,
        22, -1.49995,
        23, -1.9999,
        24, -2.49985,
        25, -2.9998,
        26, -3.49975,
        27, -3.9997,
        28, -4.49965,
        29, -4.9996,
        30, -5.49955,
        31, -5.9995,
        32, -6.49945,
        33, -6.9994,
        34, -7.49935,
        35, -7.9993,
        36, -8.49925,
        37, -8.9992,
        38, -9.49915,
        39, -9.9991,
        40, -10.4991,
        41, -10.999
      ]
    },
    {
      action => 1,
      numEntries => 41,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        22, -20,
        23, -20,
        24, -20,
        25, -20,
        26, -20,
        27, -20,
        28, -20,
        29, -20,
        30, -20,
        31, -20,
        32, -20,
        33, -20,
        34, -20,
        35, -20,
        36, -20,
        37, -20,
        38, -20,
        39, -20,
        40, -20,
        41, -20
      ]
    },
    {
      action => 2,
      numEntries => 41,
      entries => [
        1, -20,
        2, -20,
        3, -20,
        4, -20,
        5, -20,
        6, -20,
        7, -20,
        8, -20,
        9, -20,
        10, -20,
        11, -20,
        12, -20,
        13, -20,
        14, -20,
        15, -20,
        16, -20,
        17, -20,
        18, -20,
        19, -20,
        20, -20,
        21, 0,
        22, 0,
        23, 0,
        24, 0,
        25, 0,
        26, 0,
        27, 0,
        28, 0,
        29, 0,
        30, 0,
        31, 0,
        32, 0,
        33, 0,
        34, 0,
        35, 0,
        36, 0,
        37, 0,
        38, 0,
        39, 0,
        40, 0,
        41, 0
      ]
    },
    {
      action => 0,
      numEntries => 43,
      entries => [
        0, -1,
        1, -1.49995,
        2, -1.9999,
        3, -2.49985,
        4, -2.9998,
        5, -3.49975,
        6, -3.9997,
        7, -4.49965,
        8, -4.9996,
        9, -5.49955,
        10, -5.9995,
        11, -6.49945,
        12, -6.9994,
        13, -7.49935,
        14, -7.9993,
        15, -8.49925,
        16, -8.9992,
        17, -9.49915,
        18, -9.9991,
        19, -10.4991,
        20, -10.999,
        21, -1,
        22, -1.49995,
        23, -1.9999,
        24, -2.49985,
        25, -2.9998,
        26, -3.49975,
        27, -3.9997,
        28, -4.49965,
        29, -4.9996,
        30, -5.49955,
        31, -5.9995,
        32, -6.49945,
        33, -6.9994,
        34, -7.49935,
        35, -7.9993,
        36, -8.49925,
        37, -8.9992,
        38, -9.49915,
        39, -9.9991,
        40, -10.4991,
        41, -10.999,
        42, 0
      ]
    }
  ]
}
