# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 13,
  planes => [
    {
      action => 1,
      numEntries => 20,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        13, -500,
        14, -500,
        15, -500,
        16, -500,
        17, -500,
        18, -500,
        19, -500,
        20, -500,
        21, -500
      ]
    },
    {
      action => 1,
      numEntries => 23,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, -500,
        12, -500,
        13, -500,
        14, -500,
        15, -500,
        16, -500,
        17, -500,
        18, -500,
        19, -500,
        20, -500,
        21, -500,
        22, 0
      ]
    },
    {
      action => 2,
      numEntries => 23,
      entries => [
        0, -10,
        1, -10,
        2, -10,
        3, -10,
        4, -10,
        5, -10,
        6, -10,
        7, -10,
        8, -10,
        9, -10,
        10, -10,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0,
        22, 0
      ]
    },
    {
      action => 3,
      numEntries => 23,
      entries => [
        0, -5,
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        11, -5,
        12, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        21, -5,
        22, 0
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -1.24998,
        2, -1.49995,
        3, -1.74992,
        4, -1.9999,
        5, -2.24988,
        6, -2.49985,
        7, -2.74982,
        8, -2.9998,
        9, -3.24978,
        10, -3.49975,
        12, -1,
        13, -55.4946,
        14, -80.2421,
        15, -104.99,
        16, -129.737,
        17, -154.485,
        18, -179.232,
        19, -203.98,
        20, -228.727,
        21, -253.475
      ]
    },
    {
      action => 1,
      numEntries => 21,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        12, -500,
        13, -500,
        14, -500,
        15, -500,
        16, -500,
        17, -500,
        18, -500,
        19, -500,
        20, -500,
        21, -500
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -1,
        1, -1.24998,
        2, -1.49995,
        3, -1.74992,
        4, -1.9999,
        5, -2.24988,
        6, -2.49985,
        7, -2.74982,
        8, -2.9998,
        9, -3.24978,
        10, -3.49975,
        12, -30.747,
        13, -55.4946,
        14, -80.2421,
        15, -104.99,
        16, -129.737,
        17, -154.485,
        18, -179.232,
        19, -203.98,
        20, -228.727,
        21, -253.475
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -1.9999,
        1, -2.43733,
        2, -2.84977,
        3, -3.23721,
        4, -3.59966,
        5, -3.93711,
        6, -4.24957,
        7, -4.53703,
        8, -4.7995,
        9, -5.03697,
        10, -5.24945,
        12, -7.28672,
        13, -11.0485,
        14, -17.2847,
        15, -25.9954,
        16, -37.1807,
        17, -50.8404,
        18, -66.9747,
        19, -85.5834,
        20, -106.667,
        21, -130.224
      ]
    },
    {
      action => 3,
      numEntries => 21,
      entries => [
        0, -5,
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        12, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        21, -5
      ]
    },
    {
      action => 3,
      numEntries => 19,
      entries => [
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        21, -5
      ]
    },
    {
      action => 3,
      numEntries => 20,
      entries => [
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        12, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        21, -5
      ]
    },
    {
      action => 2,
      numEntries => 21,
      entries => [
        1, -10,
        2, -10,
        3, -10,
        4, -10,
        5, -10,
        6, -10,
        7, -10,
        8, -10,
        9, -10,
        10, -10,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0
      ]
    },
    {
      action => 0,
      numEntries => 23,
      entries => [
        0, -5.9995,
        1, -6.24948,
        2, -6.49945,
        3, -6.74943,
        4, -6.9994,
        5, -7.24937,
        6, -7.49935,
        7, -7.74932,
        8, -7.9993,
        9, -8.24928,
        10, -8.49925,
        11, -1,
        12, -1.24998,
        13, -1.49995,
        14, -1.74992,
        15, -1.9999,
        16, -2.24988,
        17, -2.49985,
        18, -2.74982,
        19, -2.9998,
        20, -3.24978,
        21, -3.49975,
        22, 0
      ]
    }
  ]
}
