# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 29,
  planes => [
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -1,
        2, -15.9979,
        3, -22.1716,
        4, -30.7949,
        5, -41.8676,
        6, -55.3899,
        7, -71.3616,
        8, -89.7829,
        9, -110.654,
        10, -133.974,
        12, -2.92476,
        13, -3.79963,
        14, -4.62451,
        15, -5.3994,
        16, -6.1243,
        17, -6.79921,
        18, -7.42413,
        19, -7.99906,
        20, -8.524,
        21, -8.99895
      ]
    },
    {
      action => 2,
      numEntries => 21,
      entries => [
        1, -500,
        2, -500,
        3, -500,
        4, -500,
        5, -500,
        6, -500,
        7, -500,
        8, -500,
        9, -500,
        10, -500,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0
      ]
    },
    {
      action => 2,
      numEntries => 20,
      entries => [
        2, -500,
        3, -500,
        4, -500,
        5, -500,
        6, -500,
        7, -500,
        8, -500,
        9, -500,
        10, -500,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -2.92476,
        2, -3.79963,
        3, -4.62451,
        4, -5.3994,
        5, -6.1243,
        6, -6.79921,
        7, -7.42413,
        8, -7.99906,
        9, -8.524,
        10, -8.99895,
        12, -1,
        13, -15.9979,
        14, -22.1716,
        15, -30.7949,
        16, -41.8676,
        17, -55.3899,
        18, -71.3616,
        19, -89.7829,
        20, -110.654,
        21, -133.974
      ]
    },
    {
      action => 1,
      numEntries => 21,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        12, -500,
        13, -500,
        14, -500,
        15, -500,
        16, -500,
        17, -500,
        18, -500,
        19, -500,
        20, -500,
        21, -500
      ]
    },
    {
      action => 1,
      numEntries => 20,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        13, -500,
        14, -500,
        15, -500,
        16, -500,
        17, -500,
        18, -500,
        19, -500,
        20, -500,
        21, -500
      ]
    },
    {
      action => 1,
      numEntries => 23,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, -500,
        12, -500,
        13, -500,
        14, -500,
        15, -500,
        16, -500,
        17, -500,
        18, -500,
        19, -500,
        20, -500,
        21, -500,
        22, 0
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -1,
        1, -1.49995,
        2, -1.9999,
        3, -2.49985,
        4, -2.9998,
        5, -3.49975,
        6, -3.9997,
        7, -4.49965,
        8, -4.9996,
        9, -5.49955,
        10, -5.9995,
        12, -35.4965,
        13, -59.9941,
        14, -84.4917,
        15, -108.989,
        16, -133.487,
        17, -157.984,
        18, -182.482,
        19, -206.979,
        20, -231.477,
        21, -255.975
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -35.4965,
        2, -59.9941,
        3, -84.4917,
        4, -108.989,
        5, -133.487,
        6, -157.984,
        7, -182.482,
        8, -206.979,
        9, -231.477,
        10, -255.975,
        11, -1,
        12, -1.49995,
        13, -1.9999,
        14, -2.49985,
        15, -2.9998,
        16, -3.49975,
        17, -3.9997,
        18, -4.49965,
        19, -4.9996,
        20, -5.49955,
        21, -5.9995
      ]
    },
    {
      action => 0,
      numEntries => 19,
      entries => [
        2, -15.9979,
        3, -22.1716,
        4, -30.7949,
        5, -41.8676,
        6, -55.3899,
        7, -71.3616,
        8, -89.7829,
        9, -110.654,
        10, -133.974,
        12, -2.92476,
        13, -3.79963,
        14, -4.62451,
        15, -5.3994,
        16, -6.1243,
        17, -6.79921,
        18, -7.42413,
        19, -7.99906,
        20, -8.524,
        21, -8.99895
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -1,
        1, -1.21389,
        2, -1.54187,
        3, -1.96445,
        4, -2.46363,
        5, -3.02293,
        6, -3.62734,
        7, -4.26337,
        8, -4.91903,
        9, -5.58382,
        10, -6.24874,
        12, -36.0181,
        13, -61.4328,
        14, -86.8923,
        15, -113.115,
        16, -140.21,
        17, -168.213,
        18, -197.088,
        19, -226.723,
        20, -256.933,
        21, -287.461
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -1.9999,
        1, -2.65303,
        2, -3.38744,
        3, -4.16946,
        4, -4.97051,
        5, -5.76672,
        6, -6.53858,
        7, -7.27056,
        8, -7.95072,
        9, -8.57034,
        10, -9.12356,
        12, -12.2998,
        13, -16.1418,
        14, -22.5317,
        15, -31.6199,
        16, -43.5482,
        17, -58.4583,
        18, -76.4733,
        19, -97.6795,
        20, -122.108,
        21, -149.716
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -2.9997,
        1, -4.02008,
        2, -5.04829,
        3, -6.04354,
        4, -6.97581,
        5, -7.82436,
        6, -8.57625,
        7, -9.22504,
        8, -9.76956,
        9, -10.2128,
        10, -10.5608,
        12, -11.114,
        13, -11.6131,
        14, -12.8786,
        15, -15.3225,
        16, -19.3852,
        17, -25.535,
        18, -34.2623,
        19, -46.0673,
        20, -61.4425,
        21, -80.8499
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -36.0181,
        2, -61.4328,
        3, -86.8923,
        4, -113.115,
        5, -140.21,
        6, -168.213,
        7, -197.088,
        8, -226.723,
        9, -256.933,
        10, -287.461,
        11, -1,
        12, -1.21389,
        13, -1.54187,
        14, -1.96445,
        15, -2.46363,
        16, -3.02293,
        17, -3.62734,
        18, -4.26337,
        19, -4.91903,
        20, -5.58382,
        21, -6.24874
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -12.2998,
        2, -16.1418,
        3, -22.5317,
        4, -31.6199,
        5, -43.5482,
        6, -58.4583,
        7, -76.4733,
        8, -97.6795,
        9, -122.108,
        10, -149.716,
        11, -1.9999,
        12, -2.65303,
        13, -3.38744,
        14, -4.16946,
        15, -4.97051,
        16, -5.76672,
        17, -6.53858,
        18, -7.27056,
        19, -7.95072,
        20, -8.57034,
        21, -9.12356
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -11.114,
        2, -11.6131,
        3, -12.8786,
        4, -15.3225,
        5, -19.3852,
        6, -25.535,
        7, -34.2623,
        8, -46.0673,
        9, -61.4425,
        10, -80.8499,
        11, -2.9997,
        12, -4.02008,
        13, -5.04829,
        14, -6.04354,
        15, -6.97581,
        16, -7.82436,
        17, -8.57625,
        18, -9.22504,
        19, -9.76956,
        20, -10.2128,
        21, -10.5608
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -11.0547,
        2, -11.1603,
        3, -11.4307,
        4, -12.0634,
        5, -13.3451,
        6, -15.659,
        7, -19.49,
        8, -25.4245,
        9, -34.1458,
        10, -46.4204,
        11, -3.9994,
        12, -5.31864,
        13, -6.54291,
        14, -7.63634,
        15, -8.57989,
        16, -9.36743,
        17, -10.0025,
        18, -10.4953,
        19, -10.8607,
        20, -11.116,
        21, -11.2794
      ]
    },
    {
      action => 3,
      numEntries => 21,
      entries => [
        1, -10,
        2, -10,
        3, -10,
        4, -10,
        5, -10,
        6, -10,
        7, -10,
        8, -10,
        9, -10,
        10, -10,
        11, -10,
        12, -10,
        13, -10,
        14, -10,
        15, -10,
        16, -10,
        17, -10,
        18, -10,
        19, -10,
        20, -10,
        21, -10
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -4.27819,
        2, -5.41923,
        3, -6.43029,
        4, -7.31889,
        5, -8.09252,
        6, -8.75867,
        7, -9.32485,
        8, -9.79856,
        9, -10.1873,
        10, -10.4985,
        12, -10.549,
        13, -11.5987,
        14, -12.8246,
        15, -15.1576,
        16, -18.9651,
        17, -24.6146,
        18, -32.4734,
        19, -42.909,
        20, -56.2886,
        21, -72.9798
      ]
    },
    {
      action => 0,
      numEntries => 19,
      entries => [
        1, -1.49995,
        2, -1.9999,
        3, -2.49985,
        4, -2.9998,
        5, -3.49975,
        6, -3.9997,
        7, -4.49965,
        8, -4.9996,
        9, -5.49955,
        10, -5.9995,
        13, -59.9941,
        14, -84.4917,
        15, -108.989,
        16, -133.487,
        17, -157.984,
        18, -182.482,
        19, -206.979,
        20, -231.477,
        21, -255.975
      ]
    },
    {
      action => 0,
      numEntries => 19,
      entries => [
        1, -2.92476,
        2, -3.79963,
        3, -4.62451,
        4, -5.3994,
        5, -6.1243,
        6, -6.79921,
        7, -7.42413,
        8, -7.99906,
        9, -8.524,
        10, -8.99895,
        13, -15.9979,
        14, -22.1716,
        15, -30.7949,
        16, -41.8676,
        17, -55.3899,
        18, -71.3616,
        19, -89.7829,
        20, -110.654,
        21, -133.974
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -1.49995,
        2, -1.9999,
        3, -2.49985,
        4, -2.9998,
        5, -3.49975,
        6, -3.9997,
        7, -4.49965,
        8, -4.9996,
        9, -5.49955,
        10, -5.9995,
        12, -35.4965,
        13, -59.9941,
        14, -84.4917,
        15, -108.989,
        16, -133.487,
        17, -157.984,
        18, -182.482,
        19, -206.979,
        20, -231.477,
        21, -255.975
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        0, -3.9994,
        1, -5.31864,
        2, -6.54291,
        3, -7.63634,
        4, -8.57989,
        5, -9.36743,
        6, -10.0025,
        7, -10.4953,
        8, -10.8607,
        9, -11.116,
        10, -11.2794,
        12, -11.0547,
        13, -11.1603,
        14, -11.4307,
        15, -12.0634,
        16, -13.3451,
        17, -15.659,
        18, -19.49,
        19, -25.4245,
        20, -34.1458,
        21, -46.4204
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -10.549,
        2, -11.5987,
        3, -12.8246,
        4, -15.1576,
        5, -18.9651,
        6, -24.6146,
        7, -32.4734,
        8, -42.909,
        9, -56.2886,
        10, -72.9798,
        12, -4.27819,
        13, -5.41923,
        14, -6.43029,
        15, -7.31889,
        16, -8.09252,
        17, -8.75867,
        18, -9.32485,
        19, -9.79856,
        20, -10.1873,
        21, -10.4985
      ]
    },
    {
      action => 0,
      numEntries => 19,
      entries => [
        2, -59.9941,
        3, -84.4917,
        4, -108.989,
        5, -133.487,
        6, -157.984,
        7, -182.482,
        8, -206.979,
        9, -231.477,
        10, -255.975,
        12, -1.49995,
        13, -1.9999,
        14, -2.49985,
        15, -2.9998,
        16, -3.49975,
        17, -3.9997,
        18, -4.49965,
        19, -4.9996,
        20, -5.49955,
        21, -5.9995
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -35.4965,
        2, -59.9941,
        3, -84.4917,
        4, -108.989,
        5, -133.487,
        6, -157.984,
        7, -182.482,
        8, -206.979,
        9, -231.477,
        10, -255.975,
        12, -1.49995,
        13, -1.9999,
        14, -2.49985,
        15, -2.9998,
        16, -3.49975,
        17, -3.9997,
        18, -4.49965,
        19, -4.9996,
        20, -5.49955,
        21, -5.9995
      ]
    },
    {
      action => 3,
      numEntries => 20,
      entries => [
        1, -10,
        2, -10,
        3, -10,
        4, -10,
        5, -10,
        6, -10,
        7, -10,
        8, -10,
        9, -10,
        10, -10,
        12, -10,
        13, -10,
        14, -10,
        15, -10,
        16, -10,
        17, -10,
        18, -10,
        19, -10,
        20, -10,
        21, -10
      ]
    },
    {
      action => 3,
      numEntries => 21,
      entries => [
        0, -10,
        1, -10,
        2, -10,
        3, -10,
        4, -10,
        5, -10,
        6, -10,
        7, -10,
        8, -10,
        9, -10,
        10, -10,
        12, -10,
        13, -10,
        14, -10,
        15, -10,
        16, -10,
        17, -10,
        18, -10,
        19, -10,
        20, -10,
        21, -10
      ]
    },
    {
      action => 3,
      numEntries => 23,
      entries => [
        0, -10,
        1, -10,
        2, -10,
        3, -10,
        4, -10,
        5, -10,
        6, -10,
        7, -10,
        8, -10,
        9, -10,
        10, -10,
        11, -10,
        12, -10,
        13, -10,
        14, -10,
        15, -10,
        16, -10,
        17, -10,
        18, -10,
        19, -10,
        20, -10,
        21, -10,
        22, 0
      ]
    }
  ]
}
