# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 6,
  planes => [
    {
      action => 1,
      numEntries => 43,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, -500,
        22, -500,
        23, -500,
        24, -500,
        25, -500,
        26, -500,
        27, -500,
        28, -500,
        29, -500,
        30, -500,
        31, -500,
        32, -500,
        33, -500,
        34, -500,
        35, -500,
        36, -500,
        37, -500,
        38, -500,
        39, -500,
        40, -500,
        41, -500,
        42, 0
      ]
    },
    {
      action => 1,
      numEntries => 39,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        24, -500,
        25, -500,
        26, -500,
        27, -500,
        28, -500,
        29, -500,
        30, -500,
        31, -500,
        32, -500,
        33, -500,
        34, -500,
        35, -500,
        36, -500,
        37, -500,
        38, -500,
        39, -500,
        40, -500,
        41, -500
      ]
    },
    {
      action => 1,
      numEntries => 40,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        23, -500,
        24, -500,
        25, -500,
        26, -500,
        27, -500,
        28, -500,
        29, -500,
        30, -500,
        31, -500,
        32, -500,
        33, -500,
        34, -500,
        35, -500,
        36, -500,
        37, -500,
        38, -500,
        39, -500,
        40, -500,
        41, -500
      ]
    },
    {
      action => 0,
      numEntries => 41,
      entries => [
        0, -1,
        1, -1.12499,
        2, -1.24998,
        3, -1.37496,
        4, -1.49995,
        5, -1.62494,
        6, -1.74992,
        7, -1.87491,
        8, -1.9999,
        9, -2.12489,
        10, -2.24988,
        11, -2.37486,
        12, -2.49985,
        13, -2.62484,
        14, -2.74982,
        15, -2.87481,
        16, -2.9998,
        17, -3.12479,
        18, -3.24978,
        19, -3.37476,
        20, -3.49975,
        22, -1,
        23, -25.9975,
        24, -38.4963,
        25, -50.995,
        26, -63.4937,
        27, -75.9925,
        28, -88.4913,
        29, -100.99,
        30, -113.489,
        31, -125.987,
        32, -138.486,
        33, -150.985,
        34, -163.484,
        35, -175.983,
        36, -188.481,
        37, -200.98,
        38, -213.479,
        39, -225.977,
        40, -238.476,
        41, -250.975
      ]
    },
    {
      action => 0,
      numEntries => 41,
      entries => [
        0, -1.9999,
        1, -2.22174,
        2, -2.43733,
        3, -2.64668,
        4, -2.84977,
        5, -3.04662,
        6, -3.23721,
        7, -3.42156,
        8, -3.59966,
        9, -3.77151,
        10, -3.93711,
        11, -4.09647,
        12, -4.24957,
        13, -4.39643,
        14, -4.53703,
        15, -4.67139,
        16, -4.7995,
        17, -4.92136,
        18, -5.03697,
        19, -5.14634,
        20, -5.24945,
        22, -1.025,
        23, -2.29975,
        24, -3.88693,
        25, -6.09899,
        26, -8.93593,
        27, -12.3977,
        28, -16.4844,
        29, -21.196,
        30, -26.5324,
        31, -32.4937,
        32, -39.0799,
        33, -46.291,
        34, -54.1269,
        35, -62.5877,
        36, -71.6734,
        37, -81.384,
        38, -91.7194,
        39, -102.68,
        40, -114.265,
        41, -126.475
      ]
    },
    {
      action => 2,
      numEntries => 43,
      entries => [
        0, -5,
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        11, -5,
        12, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        21, 0,
        22, 0,
        23, 0,
        24, 0,
        25, 0,
        26, 0,
        27, 0,
        28, 0,
        29, 0,
        30, 0,
        31, 0,
        32, 0,
        33, 0,
        34, 0,
        35, 0,
        36, 0,
        37, 0,
        38, 0,
        39, 0,
        40, 0,
        41, 0,
        42, 0
      ]
    }
  ]
}
