# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 5,
  planes => [
    {
      action => 1,
      numEntries => 43,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, -10,
        22, -10,
        23, -10,
        24, -10,
        25, -10,
        26, -10,
        27, -10,
        28, -10,
        29, -10,
        30, -10,
        31, -10,
        32, -10,
        33, -10,
        34, -10,
        35, -10,
        36, -10,
        37, -10,
        38, -10,
        39, -10,
        40, -10,
        41, -10,
        42, 0
      ]
    },
    {
      action => 2,
      numEntries => 40,
      entries => [
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        11, -5,
        12, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        22, 0,
        23, 0,
        24, 0,
        25, 0,
        26, 0,
        27, 0,
        28, 0,
        29, 0,
        30, 0,
        31, 0,
        32, 0,
        33, 0,
        34, 0,
        35, 0,
        36, 0,
        37, 0,
        38, 0,
        39, 0,
        40, 0,
        41, 0
      ]
    },
    {
      action => 0,
      numEntries => 40,
      entries => [
        1, -1.12499,
        2, -1.24998,
        3, -1.37496,
        4, -1.49995,
        5, -1.62494,
        6, -1.74992,
        7, -1.87491,
        8, -1.9999,
        9, -2.12489,
        10, -2.24988,
        11, -2.37486,
        12, -2.49985,
        13, -2.62484,
        14, -2.74982,
        15, -2.87481,
        16, -2.9998,
        17, -3.12479,
        18, -3.24978,
        19, -3.37476,
        20, -3.49975,
        22, -1.24998,
        23, -1.49995,
        24, -1.74992,
        25, -1.9999,
        26, -2.24988,
        27, -2.49985,
        28, -2.74982,
        29, -2.9998,
        30, -3.24978,
        31, -3.49975,
        32, -3.74973,
        33, -3.9997,
        34, -4.24967,
        35, -4.49965,
        36, -4.74962,
        37, -4.9996,
        38, -5.24958,
        39, -5.49955,
        40, -5.74953,
        41, -5.9995
      ]
    },
    {
      action => 1,
      numEntries => 41,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        22, -10,
        23, -10,
        24, -10,
        25, -10,
        26, -10,
        27, -10,
        28, -10,
        29, -10,
        30, -10,
        31, -10,
        32, -10,
        33, -10,
        34, -10,
        35, -10,
        36, -10,
        37, -10,
        38, -10,
        39, -10,
        40, -10,
        41, -10
      ]
    },
    {
      action => 2,
      numEntries => 43,
      entries => [
        0, -5,
        1, -5,
        2, -5,
        3, -5,
        4, -5,
        5, -5,
        6, -5,
        7, -5,
        8, -5,
        9, -5,
        10, -5,
        11, -5,
        12, -5,
        13, -5,
        14, -5,
        15, -5,
        16, -5,
        17, -5,
        18, -5,
        19, -5,
        20, -5,
        21, 0,
        22, 0,
        23, 0,
        24, 0,
        25, 0,
        26, 0,
        27, 0,
        28, 0,
        29, 0,
        30, 0,
        31, 0,
        32, 0,
        33, 0,
        34, 0,
        35, 0,
        36, 0,
        37, 0,
        38, 0,
        39, 0,
        40, 0,
        41, 0,
        42, 0
      ]
    }
  ]
}
