# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 10,
  planes => [
    {
      action => 1,
      numEntries => 5,
      entries => [
        0, 0,
        1, 0,
        2, -500,
        3, -500,
        4, 0
      ]
    },
    {
      action => 1,
      numEntries => 3,
      entries => [
        0, 0,
        1, 0,
        3, -500
      ]
    },
    {
      action => 2,
      numEntries => 3,
      entries => [
        1, -10,
        2, 0,
        3, 0
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        0, -1,
        1, -5.9995,
        3, -250.975
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        0, -1.9999,
        1, -8.99895,
        3, -126.475
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        0, -2.9997,
        1, -10.4985,
        3, -64.2312
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        0, -3.9994,
        1, -11.2482,
        3, -33.1124
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        0, -4.999,
        1, -11.6231,
        3, -17.5545
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        0, -5.9985,
        1, -11.8104,
        3, -9.77639
      ]
    },
    {
      action => 2,
      numEntries => 5,
      entries => [
        0, -10,
        1, -10,
        2, 0,
        3, 0,
        4, 0
      ]
    }
  ]
}
