# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 14,
  planes => [
    {
      action => 2,
      numEntries => 20,
      entries => [
        2, -500,
        3, -500,
        4, -500,
        5, -500,
        6, -500,
        7, -500,
        8, -500,
        9, -500,
        10, -500,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0
      ]
    },
    {
      action => 2,
      numEntries => 23,
      entries => [
        0, -500,
        1, -500,
        2, -500,
        3, -500,
        4, -500,
        5, -500,
        6, -500,
        7, -500,
        8, -500,
        9, -500,
        10, -500,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0,
        22, 0
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -25.9975,
        2, -50.995,
        3, -75.9925,
        4, -100.99,
        5, -125.987,
        6, -150.985,
        7, -175.983,
        8, -200.98,
        9, -225.977,
        10, -250.975,
        11, -1,
        12, -1.49995,
        13, -1.9999,
        14, -2.49985,
        15, -2.9998,
        16, -3.49975,
        17, -3.9997,
        18, -4.49965,
        19, -4.9996,
        20, -5.49955,
        21, -5.9995
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -2.29975,
        2, -6.09899,
        3, -12.3977,
        4, -21.196,
        5, -32.4937,
        6, -46.291,
        7, -62.5877,
        8, -81.384,
        9, -102.68,
        10, -126.475,
        11, -1.9999,
        12, -2.92476,
        13, -3.79963,
        14, -4.62451,
        15, -5.3994,
        16, -6.1243,
        17, -6.79921,
        18, -7.42413,
        19, -7.99906,
        20, -8.524,
        21, -8.99895
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -25.9975,
        2, -50.995,
        3, -75.9925,
        4, -100.99,
        5, -125.987,
        6, -150.985,
        7, -175.983,
        8, -200.98,
        9, -225.977,
        10, -250.975,
        12, -1.49995,
        13, -1.9999,
        14, -2.49985,
        15, -2.9998,
        16, -3.49975,
        17, -3.9997,
        18, -4.49965,
        19, -4.9996,
        20, -5.49955,
        21, -5.9995
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -2.29975,
        2, -6.09899,
        3, -12.3977,
        4, -21.196,
        5, -32.4937,
        6, -46.291,
        7, -62.5877,
        8, -81.384,
        9, -102.68,
        10, -126.475,
        12, -2.92476,
        13, -3.79963,
        14, -4.62451,
        15, -5.3994,
        16, -6.1243,
        17, -6.79921,
        18, -7.42413,
        19, -7.99906,
        20, -8.524,
        21, -8.99895
      ]
    },
    {
      action => 0,
      numEntries => 20,
      entries => [
        1, -1.11498,
        2, -1.60984,
        3, -2.85947,
        4, -5.23877,
        5, -9.12262,
        6, -14.8859,
        7, -22.9035,
        8, -33.5503,
        9, -47.2012,
        10, -64.2312,
        12, -4.27819,
        13, -5.41923,
        14, -6.43029,
        15, -7.31889,
        16, -8.09252,
        17, -8.75867,
        18, -9.32485,
        19, -9.79856,
        20, -10.1873,
        21, -10.4985
      ]
    },
    {
      action => 1,
      numEntries => 21,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        12, -10,
        13, -10,
        14, -10,
        15, -10,
        16, -10,
        17, -10,
        18, -10,
        19, -10,
        20, -10,
        21, -10
      ]
    },
    {
      action => 2,
      numEntries => 21,
      entries => [
        1, -500,
        2, -500,
        3, -500,
        4, -500,
        5, -500,
        6, -500,
        7, -500,
        8, -500,
        9, -500,
        10, -500,
        11, 0,
        12, 0,
        13, 0,
        14, 0,
        15, 0,
        16, 0,
        17, 0,
        18, 0,
        19, 0,
        20, 0,
        21, 0
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -27.0566,
        2, -52.4437,
        3, -78.4228,
        4, -105.181,
        5, -132.829,
        6, -161.404,
        7, -190.868,
        8, -221.108,
        9, -251.936,
        10, -283.087,
        11, -1,
        12, -1.21389,
        13, -1.54187,
        14, -1.96445,
        15, -2.46363,
        16, -3.02293,
        17, -3.62734,
        18, -4.26337,
        19, -4.91903,
        20, -5.58382,
        21, -6.24874
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -2.3527,
        2, -6.24385,
        3, -12.7622,
        4, -22.034,
        5, -34.2039,
        6, -49.4164,
        7, -67.7972,
        8, -89.4344,
        9, -114.36,
        10, -142.53,
        11, -1.9999,
        12, -2.65303,
        13, -3.38744,
        14, -4.16946,
        15, -4.97051,
        16, -5.76672,
        17, -6.53858,
        18, -7.27056,
        19, -7.95072,
        20, -8.57034,
        21, -9.12356
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -1.11762,
        2, -1.62432,
        3, -2.91415,
        4, -5.40636,
        5, -9.55011,
        6, -15.8234,
        7, -24.7267,
        8, -36.7702,
        9, -52.4567,
        10, -72.2576,
        11, -2.9997,
        12, -4.02008,
        13, -5.04829,
        14, -6.04354,
        15, -6.97581,
        16, -7.82436,
        17, -8.57625,
        18, -9.22504,
        19, -9.76956,
        20, -10.2128,
        21, -10.5608
      ]
    },
    {
      action => 0,
      numEntries => 21,
      entries => [
        1, -1.05588,
        2, -1.16242,
        3, -1.43708,
        4, -2.08116,
        5, -3.38729,
        6, -5.74656,
        7, -9.65346,
        8, -15.7066,
        9, -24.6032,
        10, -37.1252,
        11, -3.9994,
        12, -5.31864,
        13, -6.54291,
        14, -7.63634,
        15, -8.57989,
        16, -9.36743,
        17, -10.0025,
        18, -10.4953,
        19, -10.8607,
        20, -11.116,
        21, -11.2794
      ]
    },
    {
      action => 1,
      numEntries => 23,
      entries => [
        0, 0,
        1, 0,
        2, 0,
        3, 0,
        4, 0,
        5, 0,
        6, 0,
        7, 0,
        8, 0,
        9, 0,
        10, 0,
        11, -10,
        12, -10,
        13, -10,
        14, -10,
        15, -10,
        16, -10,
        17, -10,
        18, -10,
        19, -10,
        20, -10,
        21, -10,
        22, 0
      ]
    }
  ]
}
